<div id="projects">
  <h2 class="text-center">Projects</h2>
  <section class="feature-v6 cd-padding-y-xl">
    <div class="cd-container cd-max-width-adaptive-lg">
      <div class="feature-v6__grid">
        <% data.projects.each do |project| %>
          <div>
            <% if project.image.present? %>
              <%= image_tag project.image, alt: "project image", class: "feature-v6__img" %>
            <% else %>
              <%= image_tag "https://d3ae4wrz2ljkbq.cloudfront.net/components/img-16-9-dark-5.svg", alt: "default image", class: "feature-v6__img" %>
            <% end %>
            <h4 class="cd-margin-bottom-2xs"><%= project.name %></h4>
            <p class="feature-v6__description cd-margin-bottom-xs"><%= project.description %></p>
            <p><a href="<%= project.url %>" class="cd-link", target="_blank">Learn more</a></p>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
